body{
    background-color: whitesmoke;
    text-align: center;
}


h1{
    text-align: center;
}
#board-container{
    display: inline-block;
    background-color: grey;
    padding: 20px;

}

.row{
    /* border: 1px solid black; */
}
.cell{
    display:inline-block;
    width: 8vw;
    height: 8vw;
    max-width: 10vh;
    max-height: 10vh;
    margin:0px;
}
.black{
    background-color: black;
}
.red{
    background-color: darkred;
}
.checker{
    margin: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: 1px solid white;
}
.red-checker{
    background-color: red;
}
.black-checker{
    background-color: black;
}

.selected {
    border: 1px solid yellow;
}

.out-of-play{
    height: 10vmin;
    width: 10vmin;
}