.row{
    /* border: 1px solid black; */
}
.cell{
    display:inline-block;
    width: 100px;
    height: 100px;
    margin:0px;
}
.black{
    background-color: black;
}
.red{
    background-color: darkred;
}
.checker{
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid white;
}
.red-checker{
    background-color: red;
}
.black-checker{
    background-color: black;

}